&i2c1 {
#ifdef PLATFORM_ZCU104
	i2cswitch@74 {
		i2c@5 {
#else
	i2cswitch@75 {
		i2c@0 {
#endif
			eeprom@57 {
				compatible = "at,24c64";
				reg = <0x57>;
			};
		};
	};
};

&axi_iic_0_sensor {
	imx274: sensor@1a{
		compatible = "sony,imx274";
		reg = <0x1a>;
		#address-cells = <1>;
		#size-cells = <0>;
		reset-gpios = <&gpio 90 0>;

		port@0 {
			reg = <0>;

			sensor_out: endpoint {
				remote-endpoint = <&csiss_in>;
			};
		};
	};
};
